@charset "UTF-8";
@use '../../styles/colors.scss' as colors;

@keyframes menuHamburgerSpawn {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes menuHamburgerDispawn {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(200%);
    }
}

.navbarControlsMobile {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: colors.$transparentGray;
    overflow: hidden;
    border-radius: 5px;

    .blur {
        width: 50%;
    }

    .hamburgerMenu {
        background-color: colors.$white;
        width: 70%;
        padding: 20px;
        list-style: none;
        animation: menuHamburgerSpawn 0.5s normal;
        border-left: solid 3px colors.$accentColor;

        li:nth-child(1) {
            display: flex;
            align-items: center;
            flex-direction: column;
            border-bottom: 2px solid colors.$lowPinkBG;
            padding-bottom: 20px;

            h4 {
                font-size: 20pt;
                color: colors.$accentColor;
            }
        }

        .planInfo {
            background-color: colors.$accentColor;
            padding: 15px 15px;
            font-size: 14pt;
            font-weight: 500;
            color: colors.$white;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            margin: 10px auto;
        }

        hr {
            margin-top: 10px;
            border: solid 1px colors.$lowPinkBG;
        }

        .btnNavbar {
            margin-top: 15px;
            cursor: pointer;
            font-size: 18pt;
            display: flex;
            align-items: center;
            color: colors.$textColor;
            font-weight: 500;

            .pi {
                margin-right: 4px;
            }
        }

        .choosed {
            font-weight: bold;
            color: colors.$accentColor;
        }
    }

    .menuCloseAnimation {
        animation: 0.5s menuHamburgerDispawn forwards;
    }
}
