@charset "UTF-8";

.showPreviewContainer {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    z-index: 2;
    background-color: var(--dp-transparent-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;

    .showPreview {
        width: 90%;
        height: 500px;
    }

    .rowContainerButton {
        display: flex;
        align-items: center;
        margin-top: 40px;

        button {
            margin: 0px 20px;
            width: 200px;
            padding: 15px;
            cursor: pointer;
            font-size: 16pt;
            border-radius: 10px;
            box-shadow: 2px 2px 8px var(--dp-dark-gray);
        }
    }

    .btnChooseTemplate {
        padding: 20px 60px;
        background-color: var(--dp-accent-color);
        color: var(--dp-lightfall);
        font-weight: bold;
        border: solid 2px var(--dp-lightfall);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 16pt;
    }

    p {
        color: var(--dp-text-color);
        font-weight: 500;
    }
}

@media screen and (max-width: 480px) {
    .showPreviewContainer {
        .rowContainerButton {
            button {
                width: 128px;
            }
        }
    }
}
