@charset "UTF-8";
@use '../colors.scss' as colors;

.backendOfflineErrorContainer {
    background-image: url('../../assets/backgroundLightTheme.png');
    width: 100%;
    min-height: 100vh;
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .backendOfflineError {
        background-color: colors.$white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 4px 4px 10px colors.$shadowLowPink;

        img {
            width: 200px;
        }

        h2 {
            font-size: 20pt;
            margin-top: 40px;
            margin-bottom: 10px;
            color: colors.$accentColor;
        }

        button {
            margin-top: 20px;
            width: 100%;
            background-color: colors.$accentColor;
            color: colors.$white;
            font-weight: bold;
            padding: 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: .4s;
        }

        button:hover {
            transition: .4s;
            transform: scale(1.02);
        }
    }
}
