VITE_API_URL=
VITE_LLM_MODEL=
VITE_GITHUB_OAUTH_URL="https://github.com/login/oauth/authorize?client_id="
VITE_GITHUB_CLIENT_ID=
VITE_BACKEND_URI=
VITE_GOOGLE_CLIENT_ID=
VITE_STRIPE_ESSENTIAL_PLAN_URL=
VITE_STRIPE_ESSENTIAL_PRICE_ID=
VITE_STRIPE_PREMIUM_PLAN_URL=
VITE_STRIPE_PREMIUM_PRICE_ID=
VITE_APP_MODE=local || prod
VITE_APP_URL=
VITE_FACEBOOK_APP_ID=
