@charset "UTF-8";

.deleteUserContainer {
    background-image: var(--dp-background-url);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat;

    .deleteUserContent {
        background-color: var(--dp-lightfall);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        padding: 20px;
        text-align: center;
        box-shadow: 3px 3px 10px var(--dp-gray);
        border-radius: 5px;

        p {
            color: var(--dp-text-color);
            font-weight: 500;
        }

        h2 {
            margin-top: 10px;
            margin-bottom: 20px;
            color: var(--dp-accent-color);
        }

        img {
            width: 200px;
        }

        b {
            color: var(--dp-accent-color);
        }

        button {
            margin-top: 30px;
            width: 300px;
            background-color: var(--dp-accent-color);
            padding: 14px;
            font-size: 14pt;
            font-weight: bold;
            color: var(--dp-lightfall);
            border-radius: 5px;
            cursor: pointer;
            transition: 0.4s;
        }

        button:hover {
            transition: 0.4s;
            transform: scale(1.05);
        }

        button.btnLogout {
            background-color: var(--dp-lightfall);
            color: var(--dp-accent-color);
            border: solid 2px var(--dp-accent-color);
        }
    }
}

@media screen and (max-width: 520px) {
    .deleteUserContainer {
        .deleteUserContent {
            button {
                width: 100%;
            }
        }
    }
}
