@charset "UTF-8";
@use '../../styles/colors.scss' as colors;

@keyframes popupAppears {
    0% {
        transform: translateY(200%);
    }

    20% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(200%);
    }
}

.popupContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        bottom: 0;
        border-radius: 5px;
        box-shadow: 1px 1px 4px colors.$black;
        z-index: 15;
        animation: popupAppears 4s forwards;

        .popupLogo,
        .popupClose {
            font-size: 24pt;
        }

        .popupClose {
            cursor: pointer;
        }

        .popupMessage {
            width: 60%;
            font-size: 18pt;
            font-weight: 500;
            text-align: center;
        }
    }

    .error {
        background-color: colors.$darkerRed;
        color: colors.$white;
    }

    .info {
        background-color: colors.$blueInfo;
        color: colors.$white;
    }

    .warning {
        background-color: colors.$orangeAfternoon;
        color: colors.$black;
    }

    .success {
        background-color: colors.$successGreen;
    }

}
