@charset "UTF-8";

@keyframes contentAnimationSpawn {
    0% {
        transform: translateY(-4000px);
    }

    100% {
        transform: translateY(0px);
    }
}

.appPageContainer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    background-image: var(--dp-background-url);
    background-size: 70%;
    background-repeat: repeat;
    min-height: 100vh;
    align-items: center;

    .fullContentContainer {
        background-color: var(--dp-lightfall);
        width: 60%;
        display: flex;
        border-radius: 10px;
        box-shadow: 1px 1px 8px var(--dp-shadow-low-pink);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        animation: contentAnimationSpawn 1s forwards;
        margin-top: 20px;
        border: solid 2px var(--dp-full-white);
    }
}

@media screen and (max-width: 1600px) {
    .appPageContainer {
        .fullContentContainer {
            width: 65%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .appPageContainer {
        .fullContentContainer {
            width: 80%;
        }
    }
}

@media screen and (max-width: 500px) {
    .appPageContainer {
        padding: 0px;
        padding-top: 0;

        .fullContentContainer {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
