@charset "UTF-8";

$accentColor: #D70A53;
$accentColorDarker: #A3083E;
$accentColorLight: #f64181;
$accentColorLighter: #FFDAED;
$lowPinkBG: #fee7ef;
$shadowLowPink: #fdc9db;
$white: #fff;
$black: #000;
$yellowDay: #F9E795;
$blueNight: #93AEC5;
$blueInfo: #0492c2;
$orangeAfternoon: #ff964f;
$red: #ff6961;
$darkerRed: #950606;
$lightGray: #dfdfdf;
$gray: #afafaf;
$transparentGray: #00000076;
$successGreen: #ADEBB3;
$green: #90E35D;
$darkGreen: #4F7D33;
