@charset "UTF-8";
@use './colors.scss' as colors;

@keyframes appersLoginWrapper {
    0% {
        transform: translateY(-4000px);
        opacity: 0;
    }

    ;

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

    ;
}

.finishRegisterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .formContainer {
        background-color: colors.$white;
        box-shadow: 2px 2px 6px colors.$shadowLowPink;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 60%;
        animation: appersLoginWrapper .8s forwards;

        h2 {
            margin-bottom: 20px;
            border-bottom: 1px colors.$lightGray solid;
            padding-bottom: 10px;
            font-size: 20pt;
        }

        label {
            font-weight: 500;
            font-size: 16pt;
            margin-top: 20px;
        }

        input {
            box-shadow: 2px 2px 6px colors.$lightGray;
            padding: 15px;
            border: solid 1px colors.$lightGray;
            border-radius: 5px;
            margin-top: 4px;
            transition: .3s;
        }

        input:focus {
            transition: .3s;
            border: solid 1px colors.$accentColor;
            color: colors.$accentColor;
            font-weight: bold;
        }

        button {
            margin-top: 20px;
            padding: 10px;
            font-size: 15pt;
            font-weight: bold;
            border-radius: 5px;
            color: colors.$darkGray;
            cursor: not-allowed;
            transition: .4s;
        }

        button.btnProceedRegister {
            background-color: colors.$accentColor;
            color: colors.$white;
            border: solid 3px colors.$accentColor;
            cursor: pointer;
        }

        button.btnProceedRegister:hover {
            background-color: colors.$accentColorDark;
            border-color: colors.$accentColorDark;
            transition: .4s;
        }
    }

    .validationContainer {
        background-color: colors.$white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 6px colors.$shadowLowPink;
        display: flex;
        flex-direction: column;
        width: 70%;

        h2 {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid colors.$lightGray;
        }

        .validationForm {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 500;
                margin-top: 20px;
            }

            input {
                box-shadow: 2px 2px 6px colors.$lightGray;
                padding: 15px;
                border: solid 1px colors.$lightGray;
                border-radius: 5px;
                margin-top: 4px;
                transition: .3s;
            }

            input:focus {
                transition: .3s;
                border: solid 1px colors.$accentColor;
                color: colors.$accentColor;
                font-weight: bold;
            }
        }

        .buttonsContainer {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            button {
                font-weight: 500;
                padding: 10px 20px;
                box-shadow: 2px 2px 6px colors.$lightGray;
                border-radius: 5px;
                background-color: colors.$white;
                border: solid 1px colors.$lightGray;
                cursor: pointer;
                color: colors.$accentColor;
                transition: .5s;
            }

            button:hover {
                box-shadow: 6px 6px 12px colors.$lightGray;
                transition: .5s;
                transform: scale(1.05);
            }

            span {
                button:nth-child(1) {
                    margin-right: 10px;
                }

                button:nth-child(2) {
                    background-color: colors.$gray;
                    color: colors.$black;
                    cursor: not-allowed;
                    transition: .4s;
                }

                button:nth-child(2):hover {
                    background-color: colors.$darkGray;
                    color: colors.$white;
                    transition: .4s;
                }

                button.btnFinish {
                    background-color: colors.$accentColor;
                    color: colors.$white;
                }

                button.btnFinish:hover {
                    background-color: colors.$accentColorDarker;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .finishRegisterContainer {
        .formContainer {
            width: 90%;
        }

        .validationContainer {
            width: 90%;
        }
    }
}

@media screen and (max-width: 480px) {
    .finishRegisterContainer {
        .validationContainer {
            .buttonsContainer {
                display: flex;
                flex-direction: column;

                span {
                    display: flex;
                    flex-direction: column;

                    button:nth-child(1) {
                        margin-right: 0;
                    }

                    button {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
