@charset "UTF-8";

@keyframes appersLoginWrapper {
    0% {
        transform: translateY(-4000px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.finishRegisterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    .formContainer {
        background-color: var(--dp-lightfall);
        box-shadow: 2px 2px 6px var(--dp-shadow-low-pink);
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        width: 60%;
        animation: appersLoginWrapper 0.8s forwards;

        h2 {
            margin-bottom: 20px;
            border-bottom: 1px var(--dp-light-gray) solid;
            padding-bottom: 10px;
            font-size: 20pt;
        }

        label {
            font-weight: 500;
            font-size: 16pt;
            margin-top: 20px;
        }

        input {
            box-shadow: 2px 2px 6px var(--dp-light-gray);
            padding: 15px;
            border: solid 1px var(--dp-light-gray);
            border-radius: 5px;
            margin-top: 4px;
            transition: 0.3s;
        }

        input:focus {
            transition: 0.3s;
            border: solid 1px var(--dp-accent-color);
            color: var(--dp-accent-color);
            font-weight: bold;
        }

        button {
            margin-top: 20px;
            padding: 10px;
            font-size: 15pt;
            font-weight: bold;
            border-radius: 5px;
            color: var(--dp-dark-gray);
            cursor: not-allowed;
            transition: 0.4s;
        }

        button.btnProceedRegister {
            background-color: var(--dp-accent-color);
            color: var(--dp-lightfall);
            border: solid 3px var(--dp-accent-color);
            cursor: pointer;
        }

        button.btnProceedRegister:hover {
            background-color: var(--dp-accent-color-dark);
            border-color: var(--dp-accent-color-dark);
            transition: 0.4s;
        }

        p {
            color: var(--dp-text-color);
            font-weight: 500;
        }
    }

    .validationContainer {
        background-color: var(--dp-lightfall);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 2px 6px var(--dp-shadow-low-pink);
        display: flex;
        flex-direction: column;
        width: 70%;

        h2 {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid var(--dp-light-gray);
        }

        .validationForm {
            display: flex;
            flex-direction: column;

            label {
                font-weight: 500;
                margin-top: 20px;
            }

            input {
                box-shadow: 2px 2px 6px var(--dp-light-gray);
                padding: 15px;
                border: solid 1px var(--dp-light-gray);
                border-radius: 5px;
                margin-top: 4px;
                transition: 0.3s;
            }

            input:focus {
                transition: 0.3s;
                border: solid 1px var(--dp-accent-color);
                color: var(--dp-accent-color);
                font-weight: bold;
            }
        }

        .buttonsContainer {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            button {
                font-weight: 500;
                padding: 10px 20px;
                box-shadow: 2px 2px 6px var(--dp-light-gray);
                border-radius: 5px;
                background-color: var(--dp-lightfall);
                border: solid 1px var(--dp-light-gray);
                cursor: pointer;
                color: var(--dp-accent-color);
                transition: 0.5s;
            }

            button:hover {
                box-shadow: 6px 6px 12px var(--dp-light-gray);
                transition: 0.5s;
                transform: scale(1.05);
            }

            span {
                button:nth-child(1) {
                    margin-right: 10px;
                }

                button:nth-child(2) {
                    background-color: var(--dp-gray);
                    color: var(--dp-black);
                    cursor: not-allowed;
                    transition: 0.4s;
                }

                button:nth-child(2):hover {
                    background-color: var(--dp-dark-gray);
                    color: var(--dp-lightfall);
                    transition: 0.4s;
                }

                button.btnFinish {
                    background-color: var(--dp-accent-color);
                    color: var(--dp-lightfall);
                }

                button.btnFinish:hover {
                    background-color: var(--dp-accent-color-darker);
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .finishRegisterContainer {
        .formContainer {
            width: 90%;
        }

        .validationContainer {
            width: 90%;
        }
    }
}

@media screen and (max-width: 480px) {
    .finishRegisterContainer {
        .validationContainer {
            .buttonsContainer {
                display: flex;
                flex-direction: column;

                span {
                    display: flex;
                    flex-direction: column;

                    button:nth-child(1) {
                        margin-right: 0;
                    }

                    button {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
