@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-semiThin.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: lighter;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1920px;
    min-height: 100%;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
