@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-semiThin.ttf');
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto_SemiCondensed-Medium.ttf');
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    --dp-primary-color: #e9688c;
    --dp-primary-disabled-color: #e9688c;
}

html,
body {
    max-width: 1920px;
    min-width: 320px;
    margin: auto;
    background-color: #fee7ef;
}

input:focus, textarea:focus {
    outline: none;
}

.row {
    display: flex;
    flex-direction: row;
}
