@charset "UTF-8";
@import './colors.scss';

@keyframes mobileItemsAnimation {
    0% {
        opacity: 0;
        transform: translateX(-180deg);
    }

    99% {
        display: none;
        opacity: .4;
    }

    100% {
        opacity: 1;
        display: flex;
        transform: translateX(0deg);
    }
}


.homePageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    flex-direction: column;

    .welcomeContainer {
        background-color: $white;
        width: 80%;
        display: flex;
        border-radius: 10px;
        box-shadow: 1px 1px 8px $shadowLowPink;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        h2 {
            margin: 0px 20px;
            font-size: 22pt;

            span {
                font-size: 30pt;
            }

            span.goodDay {
                color: $yellowDay;
            }

            span.goodAfternoon {
                color: $orangeAfternoon;
            }

            span.goodNight {
                color: $blueNight;
            }
        }

        img {
            width: 168px;
        }
    }


    .tabsContentContainer {
        display: flex;
        background-color: $white;
        margin-top: 50px;
        width: 80%;
        border-radius: 10px;
        box-shadow: 1px 1px 8px $shadowLowPink;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        ul.tabs {
            list-style: none;
            display: flex;
            width: 100%;
            border-bottom: 1px solid $accentColor;

            li {
                margin-right: 10px;
                padding: 14px;
                background-color: $white;
                color: $accentColor;
                font-size: 12pt;
                font-weight: 500;
                cursor: pointer;
                transition: .4s;

                i.pi {
                    margin-right: 5px
                }
            }

            li:hover {
                background-color: $gray;
                transition: .4s;
            }

            li.focusContent {
                background-color: $accentColor;
                color: $white;
            }

            li.focusContent:hover {
                background-color: $accentColorDarker;
                color: $white;
            }

            li:nth-child(1) {
                border-top-left-radius: 10px;
            }
        }

        div.tabsMobile {
            list-style: none;
            display: none;
            width: 100%;
            border-bottom: 1px solid $accentColor;
            flex-direction: column;

            span {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 10px;

                h2 {
                    border-top-left-radius: 10px;
                    margin-right: 10px;
                    padding: 14px;
                    background-color: $white;
                    color: $accentColor;
                    font-size: 12pt;
                    font-weight: 500;
                    transition: .4s;
                }

                button {
                    cursor: pointer;
                    border-top-right-radius: 10px;
                    padding: 10px 15px 10px 60px;
                    background-color: $white;
                    color: $accentColor;
                }
            }

            ul.tabsContentMobile {
                list-style-type: none;

                li {
                    width: 100%;
                    text-align: left;
                    padding: 20px 20px;
                    background-color: $white;
                    color: $accentColor;
                    font-weight: 500;
                    border-bottom: 1px solid $accentColor;
                }

                li:first-child {
                    border-top: 1px solid $accentColor;
                    animation: mobileItemsAnimation forwards 0.2s;
                }

                li:nth-child(2) {
                    animation: mobileItemsAnimation forwards 0.4s;
                }

                li:last-child {
                    border-bottom: 0;
                }


                li.focusContent {
                    background-color: $accentColor;
                    color: $white;
                }
            }
        }

        .tabsContent {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .homePageContainer {

        .welcomeContainer,
        .tabsContentContainer {
            width: 90%;
        }

        .tabsContentContainer {
            ul.tabs {
                display: none;

                span {
                    border-top-left-radius: 10px;
                }
            }

            div.tabsMobile {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .homePageContainer {
        .welcomeContainer {
            flex-direction: column-reverse;

            h2 {
                text-align: center;
            }
        }
    }
}
