@charset "UTF-8";

@keyframes bg-animation {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: -100px -300px;
    }

    50% {
        background-position: 0 0;
    }

    75% {
        background-position: 40px 300px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes appersLoginWrapper {
    0% {
        transform: translateY(-4000px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.loginContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--dp-background-url);
    background-size: 70%;
    background-repeat: repeat;
    background-repeat: repeat;
    animation: bg-animation 30s linear infinite;

    .loginWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        background-color: var(--dp-lightfall);
        padding: 20px;
        box-shadow: 1px 1px 4px var(--dp-shadow-low-pink);
        border-radius: 5px;
        width: 60%;
        animation: appersLoginWrapper 0.85s forwards;

        h2 {
            text-align: center;
            color: var(--dp-text-color);
        }

        span {
            display: flex;
            flex-direction: column;
            justify-items: center;
            margin-top: 60px;

            label {
                width: fit-content;
                text-align: left;
                padding: 5px 10px;
                font-size: 10pt;
                margin-left: 10px;
                color: var(--dp-full-white);
                font-weight: bold;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .btnSocialMediaLogin {
                width: 300px;
                padding: 14px 20px;
                cursor: pointer;
                font-weight: bold;
                font-size: 12pt;
                margin-bottom: 10px;
                border-radius: 5px;
                transition: 0.3s;

                i {
                    margin-right: 5px;
                }
            }

            small {
                margin: 10px 0;
                width: 100%;
                text-align: center;
                color: var(--dp-text-color);
            }

            .btnSocialMediaLogin:hover {
                transform: scale(1.05);
                transition: 0.3s;
            }

            .lastLoginGoogle,
            .btnGoogle {
                background-color: var(--dp-accent-color);
                color: var(--dp-full-white);
            }

            .lastLoginGithub,
            .btnGithub {
                background-color: var(--dp-full-black);
                color: var(--dp-full-white);
            }

            .lastLoginFacebook,
            .btnFacebook {
                background-color: var(--dp-blue-info);
                color: var(--dp-full-white);
            }

            .lastLoginPlanossauro,
            .btnPlanossauro {
                background-color: var(--dp-full-white);
                color: var(--dp-accent-color);
                border: solid 2px var(--dp-accent-color);
            }

            .lastLoginPlanossauro {
                border-bottom: 0;
            }
        }
    }

    footer {
        font-size: 14pt;
        margin-top: 30px;
        animation: appersLoginWrapper 0.85s forwards;
        cursor: pointer;
        font-weight: bold;
        color: var(--dp-text-color);
    }
}

@media screen and (max-width: 600px) {
    .loginContainer > .loginWrapper {
        width: 90%;

        span {
            .btnSocialMediaLogin {
                width: 100%;
            }
        }
    }
}
