@charset "UTF-8";
@import '../../styles/colors.scss';

.validationCodeContainer {
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;

    h2 {
        margin-bottom: 20px;
    }

    input {
        border: solid $accentColor 2px;
        border-radius: 5px;
        padding: 7px;
        font-size: 14pt;
        margin-top: 5px;
    }

    span {
        margin-top: 20px;
        padding-top: 20px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        border-top: solid 1px $lightGray;

        button {
            width: 48%;
            padding: 12px;
            font-size: 12pt;
            font-weight: 500;
            border-radius: 5px;
            cursor: pointer;
            transition: .4s;
        }

        button:hover {
            transform: scale(1.02);
            transition: .4s;
        }

        button:nth-child(1) {
            background-color: white;
            color: $accentColor;
            border: solid 2px $accentColor;
        }

        button:nth-child(2) {
            background-color: $accentColor;
            color: $white;
        }
    }
}
