@charset "UTF-8";
@import '../colors.scss';

label {
    margin-bottom: 5px;
    font-size: 18pt;
    margin-top: 10px;
}

input {
    background-color: $white;
    border: 1px solid $accentColor;
    padding: 10px 30px 10px 8px;
    color: $accentColor;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14pt;
    width: 95%;
}

.btnTrash {
    background-color: $white;
    color: $accentColor;
    cursor: pointer;
    border: solid 1px $accentColor;
    padding: 10px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 5px;
    transition: .4s;
}

.btnTrash:hover {
    background-color: $red;
    transition: .4s;
    color: $black;
    border-color: $red;
}

.planningContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;

    .planningSelect {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: $lightGray solid 1px;

        img {
            width: 160px;
            transform: scale(-1, 1);
        }

        span {
            margin-left: 30px;

            .planSelect {
                background-color: $white;
                color: $accentColor;
                border: solid 1px $accentColor;
                padding: 10px 30px 10px 8px;
                border-radius: 5px;
                font-size: 14pt;
                text-align: left;
                width: 240px;
                margin-top: 10px;
            }
        }
    }

    form.dailyPlan>span {
        display: flex;
        flex-direction: column;
    }

    form.dailyPlan>.btnContainer {
        display: flex;

        button {
            border-radius: 5px;
            padding: 10px;
            width: 240px;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            font-size: 16pt;
        }

        button:nth-child(1) {
            background-color: $accentColor;
            color: $white;
            border: none;
            transition: .4s;
        }

        button:nth-child(1):hover {
            background-color: $accentColorDarker;
            transition: .4s;
        }

        button:nth-child(2) {
            color: $accentColor;
            border: solid 3px $accentColor;
            background-color: $white;
            margin-left: 20px;
            font-size: 15pt;
            font-weight: 600;
        }

        button:nth-child(2):hover {
            background-color: $accentColorLighter;
            transition: .4s;
        }
    }

    div.weeklyPlan {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;

        .weekPlan {
            box-shadow: 4px 4px 12px $gray;
            border-radius: 10px;
            margin-top: 20px;
            margin-right: 20px;
            transition: .2s;
            border: 3px solid transparent;

            h2 {
                background-color: $white;
                color: $black;
                padding: 20px;
                border-top-left-radius: 9px;
                border-top-right-radius: 9px;
                border-bottom: 1px $accentColor solid;
            }

            span.classContainer {
                display: flex;
                flex-direction: column;
                padding: 5px 20px;

                span>input {
                    width: 320px;
                    border: solid 2px $gray;
                }

                span>input:hover {
                    border: solid 2px $accentColor;
                }

                span > input:focus {
                    border: solid 2px $accentColorDarker;
                }

                .ghostButton {
                    width: 41px;
                }
            }

            .btnAddClassAtv {
                border-radius: 5px;
                padding: 10px;
                width: 240px;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                font-size: 16pt;
                background-color: $accentColor;
                color: #fff;
                margin: 20px;
                width: 320px;

                .btnAddClass {
                    margin-right: 10px;
                }
            }
        }

        .weekPlan:hover {
            transition: .2s;
            border: 3px $accentColor solid;
        }

    }

    .btnGeneratePlan {
        background-color: $greenDefault;
        border: solid 1px $black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        font-size: 16pt;
        font-weight: bold;
        margin-top: 30px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 320px;
        margin: 30px auto;
        transition: .4s;
    }

    .btnGeneratePlan:hover {
        background-color: $accentColor;
        color: $white;
        transition: .4s;
    }
}

@media screen and (max-width: 600px) {
    input {
        width: 95%;
    }

    .planningContainer {
        margin: 0;

        .planningSelect {
            flex-direction: column;

            span {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        div.weeklyPlan {
            .weekPlan {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                h2 {
                    width: 100%;
                }

                span.classContainer {
                    span>input {
                        width: 90%;
                    }
                }

                button.btnAddClassAtv {
                    width: 90%;
                    margin: 10px 0;
                }
            }
        }
    }
}
