@charset "UTF-8";

.popupCancelContainer {
    background-color: var(--dp-transparent-gray);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;

    .popupCancelContent {
        background-color: var(--dp-lightfall);
        padding: 30px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 70%;

        h2 {
            margin-bottom: 30px;
            color: var(--dp-text-color);
        }

        p {
            text-align: center;
            color: var(--dp-text-color);
            font-weight: 500;
        }

        span {
            margin-top: 30px;
            display: flex;
            width: 100%;
            justify-content: center;

            button {
                padding: 20px;
                font-size: 14pt;
                margin: 5px;
                width: 50%;
                border-radius: 5px;
                font-weight: bold;
                background-color: var(--dp-accent-color);
                color: var(--dp-lightfall);
                cursor: pointer;
                transition: 0.5s;
            }

            button:nth-child(2) {
                background-color: var(--dp-lightfall);
                color: var(--dp-accent-color);
                border: 2px solid var(--dp-accent-color);
            }

            button:hover {
                transform: scale(1.05);
                transition: 0.5s;
            }
        }
    }
}

.plansContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .plansTitle {
        margin: 40px 0;
        color: var(--dp-text-color);
    }

    .currentPlanContainer {
        display: flex;
        border: solid 3px var(--dp-light-gray);
        border-radius: 5px;
        flex-direction: column;
        width: 80%;
        box-shadow: 4px 4px 12px var(--dp-light-gray);
        margin-bottom: 20px;

        h2 {
            background-color: var(--dp-accent-color);
            color: var(--dp-lightfall);
            text-align: center;
            margin-bottom: 10px;
            font-size: 14pt;
            padding: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        ul {
            list-style: none;
            padding: 10px;

            li {
                font-size: 12pt;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                margin-top: 5px;
                color: var(--dp-text-color);
                font-weight: 500;

                p {
                    color: var(--dp-full-black);
                }

                b {
                    margin-right: 5px;
                    color: var(--dp-accent-color);
                }

                .statusActive {
                    background-color: var(--dp-green);
                    padding: 5px 15px;
                    border-radius: 15px;
                    font-weight: bold;
                    border: solid 1px var(--dp-black);
                }

                .statusWarning {
                    background-color: var(--dp-yellow-day);
                    padding: 5px 15px;
                    border-radius: 15px;
                    font-weight: bold;
                    border: solid 1px var(--dp-black);
                }

                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }
        }

        .btnContainers {
            width: 100%;
            display: flex;
            padding: 10px;

            button {
                background-color: var(--dp-accent-color);
                color: var(--dp-lightfall);
                font-weight: bold;
                padding: 10px;
                font-size: 12pt;
                margin-right: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.4s;
            }

            button:hover {
                transition: 0.4s;
                transform: scale(1.05);
            }

            .btnDisable {
                background-color: var(--dp-gray);
                cursor: not-allowed;
            }
        }
    }

    .currentPlanContainer[data-theme="dark"] {
        box-shadow: 0 0 0;
    }

    .paymentHistoryListContainer {
        display: flex;
        border: solid 3px var(--dp-light-gray);
        border-radius: 5px;
        flex-direction: column;
        width: 80%;
        box-shadow: 4px 4px 12px var(--dp-light-gray);
        margin-bottom: 20px;

        h2 {
            background-color: var(--dp-accent-color);
            color: var(--dp-lightfall);
            text-align: center;
            margin-bottom: 10px;
            font-size: 14pt;
            padding: 5px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        table {
            margin: 20px;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        border-bottom: 3px solid var(--dp-text-color);
                        color: var(--dp-accent-color);
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-bottom: 2px solid var(--dp-light-gray);
                        text-align: center;
                        padding: 10px;
                        color: var(--dp-text-color);
                        font-weight: 500;

                        img {
                            width: 24px;
                        }

                        button {
                            cursor: pointer;
                            background-color: var(--dp-blue-info);
                            color: var(--dp-full-white);
                            padding: 5px 10px;
                            font-weight: bold;
                            border-radius: 3px;
                            transition: 0.4s;
                        }

                        button:hover {
                            transition: 0.4s;
                            background-color: var(--dp-blue-night);
                        }
                    }
                }
            }
        }
    }

    .paymentHistoryListContainer[data-theme="dark"] {
        box-shadow: 0 0 0;
    }

    .paymentNotFound {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px;

        img {
            width: 160px;
        }

        h3 {
            color: var(--dp-text-color);
        }
    }
}

@media screen and (max-width: 980px) {
    .plansContainer {
        .currentPlanContainer {
            width: 90%;
        }

        .paymentHistoryListContainer {
            width: 90%;
        }
    }
}

@media screen and (max-width: 880px) {
    .plansContainer {
        .paymentHistoryListContainer {
            table {
                thead {
                    display: none;
                }

                tbody {
                    tr {
                        border-bottom: solid 2px var(--dp-black);

                        td:before {
                            content: attr(data-cell);
                            font-weight: bold;
                            color: var(--dp-accent-color);
                            margin-right: 10px;
                        }

                        td {
                            display: flex;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .popupCancelContainer {
        .popupCancelContent {
            width: 90%;
        }
    }
}

@media screen and (max-width: 640px) {
    .popupCancelContainer {
        .popupCancelContent {
            h2 {
                text-align: center;
            }

            span {
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .plansContainer {
        .currentPlanContainer {
            .btnContainers {
                flex-direction: column;

                button {
                    margin-top: 10px;
                }
            }
        }
    }
}
