@charset "UTF-8";

@keyframes weekDaysMobileAnimation {
    0% {
        opacity: 0;
        transform: translateY(-180px);
    }

    99% {
        display: none;
        opacity: 0.4;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes weekDaysMobileItemsAnimation {
    0% {
        opacity: 0;
        transform: translateX(-180deg);
    }

    99% {
        display: none;
        opacity: 0.4;
    }

    100% {
        opacity: 1;
        display: flex;
        transform: translateX(0deg);
    }
}

label {
    margin-bottom: 5px;
    font-size: 18pt;
    margin-top: 10px;
}

input {
    background-color: var(--dp-lightfall);
    border: 1px solid var(--dp-accent-color);
    padding: 10px 30px 10px 8px;
    color: var(--dp-accent-color);
    font-weight: 600;
    border-radius: 5px;
    font-size: 14pt;
    width: 95%;
}

.btnTrash {
    background-color: var(--dp-lightfall);
    color: var(--dp-accent-color);
    cursor: pointer;
    border: solid 1px var(--dp-accent-color);
    padding: 10px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 5px;
    transition: 0.4s;
}

.btnTrash:hover {
    background-color: var(--dp-red);
    transition: 0.4s;
    color: var(--dp-black);
    border-color: var(--dp-red);
}

.planningContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .aditionalInformationsContainer {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dp-transparent-gray);
        z-index: 2;
        align-items: center;
        justify-content: center;

        .aditionalInformationsForm {
            width: 60%;
            background-color: var(--dp-lightfall);
            border-radius: 5px;
            box-shadow: 1px 1px 6px var(--dp-dark-gray);
            padding: 30px;

            h2 {
                margin-bottom: 10px;
                color: var(--dp-text-color);
            }

            label {
                font-weight: normal;
                color: var(--dp-text-color);
            }

            input {
                margin-bottom: 20px;
                width: 100%;
            }

            span.rangeDatePickerContainer {
                .dp__main {
                    border: solid 1px var(--dp-accent-color);
                    border-radius: 5px;
                    margin-bottom: 20px;
                    color: var(--dp-accent-color);
                }

                .dp__range_between {
                    background-color: var(--dp-accent-color);
                }
            }

            button.btnChooseTemplateCancel,
            button.btnChooseTemplate {
                padding: 12px 40px;
                border-radius: 5px;
                font-weight: bold;
                border: solid 1px var(--dp-black);
                cursor: pointer;
                margin-right: 5px;
                transition: 0.4s;
            }

            button.btnChooseTemplateCancel {
                background-color: var(--dp-gray);
                cursor: not-allowed;
            }

            button.btnChooseTemplateCancel:nth-child(2) {
                cursor: pointer;
            }

            button.btnChooseTemplateCancel:hover {
                background-color: var(--dp-dark-gray);
                transition: 0.4s;
                color: var(--dp-full-white);
            }

            button.btnChooseTemplate {
                background-color: var(--dp-accent-color);
                color: var(--dp-lightfall);
            }

            button.btnChooseTemplate:hover {
                background-color: var(--dp-accent-color-dark);
                transition: 0.4s;
                border: solid 1px var(--dp-accent-color-dark);
            }

            p {
                color: var(--dp-text-color);
                font-weight: 500;
            }
        }
    }

    .planningSelect {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: var(--dp-light-gray) solid 1px;

        img {
            width: 160px;
            transform: scale(-1, 1);
        }

        span {
            margin-left: 30px;

            h1 {
                color: var(--dp-text-color);
            }

            .planSelect {
                background-color: var(--dp-lightfall);
                color: var(--dp-accent-color);
                border: solid 1px var(--dp-accent-color);
                padding: 10px 30px 10px 8px;
                border-radius: 5px;
                font-size: 14pt;
                text-align: left;
                width: 240px;
                margin-top: 10px;
                font-weight: 500;
            }
        }
    }

    .dailyPlanContentContainer {
        overflow: scroll;
        margin-top: 20px;
        position: relative;

        section {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
            margin-right: 20px;

            label {
                font-weight: bold;
                color: var(--dp-gray);
                padding-top: 7px;
            }

            span > input {
                width: 100%;
            }
        }
    }

    .dailyPlan {
        min-height: 500px;
        position: relative;
    }

    form.dailyPlan > .btnContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        gap: 10px;
        bottom: 0;

        button {
            border-radius: 5px;
            padding: 10px;
            width: 240px;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            font-size: 16pt;
        }

        button:nth-child(1) {
            background-color: var(--dp-lightfall);
            color: var(--dp-accent-color);
            border: solid 2px var(--dp-accent-color);
            transition: 0.4s;
            font-weight: 500;

            i {
                margin-right: 5px;
            }
        }

        button:nth-child(1):hover {
            background-color: var(--dp-accent-color);
            color: var(--dp-lightfall);
            transition: 0.4s;
        }

        button:nth-child(2) {
            font-weight: 600;
        }

        .btnDiaryGenerateCancel {
            background-color: var(--dp-gray);
            color: var(--dp-black);
            transition: 0.4s;
            border: var(--dp-gray);
            cursor: not-allowed;
        }

        .btnDiaryGenerateCancel:hover {
            background-color: var(--dp-dark-gray);
            transition: 0.4s;
            color: var(--dp-black);
        }

        .btnDiaryGenerate {
            color: var(--dp-lightfall);
            background-color: var(--dp-accent-color);
            transition: 0.4s;
        }

        .btnDiaryGenerate:hover {
            background-color: var(--dp-accent-color-dark);
            transition: 0.4s;
        }
    }

    div.weeklyPlan {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        border: solid 2px var(--dp-accent-color);
        border-radius: 10px;
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;

        .weekDaysMobile {
            display: none;
        }

        .weekDays {
            width: 30%;
            display: flex;
            flex-direction: column;
            border-right: solid 2px var(--dp-accent-color);

            li.btnWeekDays {
                height: 25%;
                background-color: var(--dp-lightfall);
                color: var(--dp-accent-color);
                border-bottom: solid 1px var(--dp-accent-color);
                padding: 20px;
                margin-right: 0;
                font-size: 14pt;
                display: flex;
                align-items: center;
                font-weight: 500;

                i.iconUncheck {
                    color: var(--dp-gray);
                    margin-right: 7px;
                }

                i.iconCheck {
                    color: var(--dp-dark-green);
                    font-weight: bold;
                    margin-right: 7px;
                }
            }

            li.btnWeekDays:last-child {
                border: none;
                border-bottom-left-radius: 10px;
            }

            li.selected {
                background-color: var(--dp-accent-color);
                color: var(--dp-text-color);
                font-weight: bold;
            }
        }

        .classContentContainer {
            padding: 10px;
            display: flex;
            width: 100%;
            flex-direction: column;
            box-shadow: 4px 4px 12px var(--dp-light-gray);

            .classContent {
                height: 85%;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;

                .classWrapper {
                    display: flex;
                    align-items: end;
                    width: 100%;
                    height: fit-content;

                    .classDescription {
                        display: block;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 100%;
                        height: fit-content;

                        h2 {
                            color: var(--dp-gray);
                        }

                        h2[data-theme="dark"] {
                            color: var(--dp-full-white);
                        }

                        input {
                            width: 97%;
                            border: solid 1px var(--dp-gray);
                            color: var(--dp-accent-color);
                            margin-top: 5px;
                        }

                        input::placeholder {
                            color: var(--dp-gray);
                        }

                        input:focus {
                            border: solid 2px var(--dp-accent-color);
                        }
                    }

                    .btnRemoveClass,
                    .btnRemoveClassCancel {
                        height: fit-content;
                        font-size: 21pt;
                        margin-bottom: 20px;
                        color: var(--dp-accent-color);
                        padding: 10px 10px 0 10px;
                        background-color: var(--dp-lightfall);
                        cursor: pointer;
                        transition: 0.2s;
                    }

                    .btnRemoveClass:hover {
                        transition: 0.2s;
                        color: var(--dp-darker-red);
                    }

                    .btnRemoveClassCancel {
                        color: var(--dp-gray);
                        cursor: not-allowed;
                    }
                }
            }

            .btnControlsContainer {
                width: 100%;
                padding-top: 10px;
                border-top: 1px solid var(--dp-gray);
                position: relative;
                bottom: 0;
                display: flex;
                justify-content: center;

                button {
                    height: fit-content;
                    cursor: pointer;
                    padding: 10px 50px;
                    margin: 0 10px;
                    background-color: var(--dp-lightfall);
                    color: var(--dp-accent-color);
                    border: solid 2px var(--dp-accent-color);
                    font-weight: bold;
                    border-radius: 5px;
                }

                button:last-child {
                    background-color: var(--dp-accent-color);
                    color: var(--dp-lightfall);
                }
            }
        }

        .classContentContainer[data-theme="dark"] {
            box-shadow: 0 0 0;
        }
    }

    .btnGeneratePlan,
    .btnGeneratePlanCancel {
        background-color: var(--dp-accent-color);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dp-lightfall);
        font-size: 16pt;
        font-weight: bold;
        margin-top: 30px;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        width: 320px;
        margin: 30px auto;
        transition: 0.4s;
    }

    .btnGeneratePlan:hover {
        background-color: var(--dp-accent-color);
        color: var(--dp-lightfall);
        transition: 0.4s;
    }

    .btnGeneratePlanCancel {
        background-color: var(--dp-light-gray);
        color: var(--dp-gray);
        cursor: not-allowed;
    }
}

@media screen and (max-width: 920px) {
    .planningContainer {
        div.weeklyPlan {
            flex-direction: column;
            height: fit-content;

            .weekDays {
                display: none;
            }

            .weekDaysMobile {
                display: flex;
                flex-direction: column;

                .selectedDay {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid var(--dp-accent-color);
                    color: var(--dp-text-color);

                    .selectedWeekDayMobile {
                        padding: 14px;

                        i.iconUncheck {
                            color: var(--dp-gray);
                            margin-right: 5px;
                        }

                        i.iconCheck {
                            color: var(--dp-dark-green);
                            font-weight: bold;
                            margin-right: 5px;
                        }
                    }

                    .btnChangeWeekMobile {
                        padding: 10px;
                        width: 40%;
                        background-color: transparent;
                        cursor: pointer;
                        text-align: right;

                        i {
                            color: var(--dp-text-color);
                        }
                    }
                }

                .mobileDayLists {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    overflow-y: hidden;

                    li.mobileDayItemList {
                        cursor: pointer;
                        border-radius: 0;
                        margin-right: 0;
                        border-bottom: 1px solid var(--dp-gray);
                        padding: 10px 20px;
                        animation: 0.4s weekDaysMobileAnimation forwards;
                        color: var(--dp-text-color);
                    }

                    li.mobileDayItemList:nth-child(1) {
                        animation: 0.5s weekDaysMobileAnimation forwards;
                    }

                    li.mobileDayItemList:nth-child(2) {
                        animation: 0.6s weekDaysMobileAnimation forwards;
                    }

                    li.mobileDayItemList:nth-child(3) {
                        animation: 0.7s weekDaysMobileAnimation forwards;
                    }

                    li.mobileDayItemList:nth-child(4) {
                        animation: 0.8s weekDaysMobileAnimation forwards;
                    }

                    li.mobileDayItemList:nth-child(5) {
                        animation: 1s weekDaysMobileAnimation forwards;
                    }

                    li.mobileDaySelected {
                        background-color: var(--dp-accent-color);
                        color: var(--dp-full-white);
                    }

                    .iconCheck {
                        color: var(--dp-dark-green);
                    }
                }
            }

            .classContentContainer {
                .btnControlsContainer {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    button {
                        margin: 10px 0px;
                    }
                }
            }
        }

        .btnGeneratePlan,
        .btnGeneratePlanCancel {
            width: 92%;
        }
    }
}

@media screen and (max-width: 640px) {
    .planningContainer {
        form.dailyPlan > .btnContainer {
            margin-top: 30px;
            button {
                width: 91%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    input {
        width: 95%;
    }

    .planningContainer {
        margin: 0;
        width: 95%;

        .aditionalInformationsContainer > .aditionalInformationsForm {
            width: 100%;
            transform: scale(0.9);

            .btnControlsContainer {
                flex-direction: column;
                display: flex;

                button {
                    margin-bottom: 5px;
                }
            }
        }

        .planningSelect {
            flex-direction: column;

            span {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 94%;

                .planSelect {
                    width: 100%;
                }
            }
        }

        div.weeklyPlan {
            margin: 15px;

            .weekPlan {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                h2 {
                    width: 100%;
                }

                span.classContainer {
                    span > input {
                        width: 90%;
                    }
                }

                button.btnAddClassAtv {
                    width: 90%;
                    margin: 10px 0;
                }
            }
        }
    }
}
