@charset "UTF-8";
@import '../colors.scss';

.searchFormContainer {
    display: flex;
    width: 90%;
    border-bottom: solid 1px $lightGray;
    padding: 10px;
    align-items: end;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;

    span {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    input,
    select,
    button {
        border: solid 1px $accentColor;
        width: 200px;
        padding: 10px;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    button {
        background-color: $accentColor;
        color: $white;
        font-weight: bold;
        cursor: pointer;
        transition: .4s;
    }

    button:hover {
        background-color: $accentColorDark;
        transition: .4s;
    }
}

.listingContainer {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;

    table {
        border: solid 2px $lightGray;
        border-radius: 5px;
        box-shadow: 6px 6px 8px $lightGray;
        width: 100%;
        overflow-x: scroll;
        max-width: 100%;
        padding: 0;
        margin: 0;
        border-collapse: collapse;

        thead>tr {
            border: 1px solid $gray;

            th {
                padding-top: 10px;
                padding-bottom: 10px;
                color: $accentColor;
                border-bottom: 2px solid $lightGray;
                // border-right: 2px solid $lightGray;
                border-left: 2px solid $lightGray;
                padding: 10px;
            }

            th:nth-child(1) {
                border-left: 0;
            }
        }

        tbody>tr {
            border-bottom: solid 2px $lightGray;

            td {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 2px solid $lightGray;
                border-left: 2px solid $lightGray;
                text-align: center;
                font-weight: 500;
            }


            td:nth-child(1) {
                border-left: 0;
            }


            td.btnCellEdit,
            td.btnCellRemove,
            td.btnCellDownload {
                cursor: pointer;
            }

            td.btnCellEdit {
                color: $orangeAfternoon;
            }

            td.btnCellRemove {
                color: $darkerRed;
            }

            td.btnCellDownload {
                color: $blueInfo;
            }
        }

        tbody>tr:nth-of-type(2n) {
            background-color: $lowPinkBG;
        }

        tfoot {
            tr {
                td {
                    width: 100%;
                    text-align: center;
                    padding: 11px;
                    font-weight: bold;
                    color: $accentColor;
                    cursor: pointer;
                    transition: .4s;
                }

                td:hover {
                    transition: .4s;
                    color: $accentColorDark;
                }
            }
        }
    }

    .notFoundContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 200px;
        }

        h1 {
            font-size: 20pt;
            color: $textColor;
            text-align: center;
        }

        button {
            width: 240px;
            padding: 12px;
            font-size: 14pt;
            font-weight: 500;
            margin-top: 15px;
            border-radius: 5px;
            cursor: pointer;
            border: solid 2px $accentColor;
            color: $accentColor;
            transition: .4s;

            i {
                margin-right: 10px;
            }
        }

        button.btnGotoPlan {
            background-color: $accentColor;
            color: $white;
            transition: .4s;
        }

        button.btnGotoPlan:hover {
            background-color: $accentColorDark;
            transition: .4s;
        }
    }
}

@media screen and (max-width: 800px) {
    .searchFormContainer {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;

        span {
            width: 100%;
        }

        select, input, button {
            width: 100%;
        }

        button {
            margin-right: 0;
        }
    }

    .listingContainer {
        table {
            thead {
                tr {
                    display: none;
                }
            }

            tbody {
                tr {
                    td {
                        display: block;
                        border-left: 0;
                        border-bottom: 0;
                        text-align: left;
                        border-bottom: solid 1px $lightGray;
                        padding-left: 10px;
                    }

                    td::before {
                        content: attr(data-cell);
                        font-weight: bold;
                        color: $accentColor;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
