@charset "UTF-8";
@use '../colors.scss' as colors;

.deletePopupContainer {
    background-color: colors.$transparentGray;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .deletePopupContent {
        background-color: colors.$white;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90%;

        h2 {
            margin-bottom: 20px;
        }

        b {
            color: colors.$accentColor;
        }

        .buttonsContainer {
            margin-top: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 50%;
                margin: 10px;
                font-size: 14pt;
                font-weight: bold;
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
                transition: .4s;
            }

            button:hover {
                transition: .4s;
                transform: scale(1.05);
            }

            button:nth-child(1) {
                background-color: colors.$white;
                color: colors.$accentColor;
                border: solid 2px colors.$accentColor;
            }

            button:nth-child(2) {
                background-color: colors.$darkerRed;
                color: colors.$white;
            }
        }
    }
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 40px;
    width: 90%;
    padding: 0 20px;

    .profileDetails {
        border: solid 1px colors.$lightGray;
        padding: 20px;
        box-shadow: 4px 4px 12px colors.$lightGray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;

        img {
            border: solid 1px colors.$lightGray;
            width: 200px;
        }

        h3 {

            margin-top: 25px;
            text-align: left;
            width: 100%;
            border-bottom: 1px solid colors.$lightGray;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        .fullNameInput {
            margin-top: 30px;
            margin-bottom: 10px;
            border: 2px solid colors.$accentColor;
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            color: colors.$accentColor;
            font-weight: bold;

        }

        h4 {
            width: 100%;
        }

        span {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                border: solid 2px colors.$lightGray;
                border-radius: 4px;
                padding: 5px 10px;
                margin-left: 10px;
                width: 70%;
            }

            input.ableToEdit {
                border: solid 2px colors.$accentColor;
                color: colors.$accentColor;
                font-weight: bold;
            }

            button {
                background-color: colors.$accentColor;
                // padding: 10px;
                padding: 7px 20px;
                margin-left: 10px;
                font-weight: bold;
                color: colors.$white;
                border-radius: 5px;
                cursor: pointer;
                width: 70%;
                transition: .4s;
            }

            button:hover {
                background-color: colors.$accentColorDarker;
            }

            .btnChangeSocialMediaProfile {
                background-color: colors.$white;
                color: colors.$accentColor;
                border: solid 2px colors.$accentColor;
                transition: .4s;
            }

            .btnChangeSocialMediaProfile:hover {
                background-color: colors.$accentColor;
                color: colors.$white;
                transition: .4s;
            }
        }

        .btnChangeProfile {
            background-color: colors.$white;
            color: colors.$accentColor;
            border: solid 2px colors.$accentColor;
            width: 100%;
            padding: 7px;
            font-weight: bold;
            font-size: 14pt;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: .4s;
        }

        .btnChangeProfile:hover {
            background-color: colors.$accentColor;
            color: colors.$white;
            transition: .4s;
        }

        .btnChangeProfileAction {
            background-color: colors.$accentColor;
            color: colors.$white;
        }
        .btnChangeProfileAction:hover {
            background-color: colors.$accentColorDarker;
            border: 2px solid colors.$accentColorDarker;
        }

        .btnCancel {
            background-color: colors.$lightGray;
            color: colors.$black;
        }

        .btnCancel {
            background-color: colors.$gray;
            color: colors.$black;
            border: none;
        }

        .btnCancel:hover {
            background-color: colors.$darkGray;
            color: colors.$white;
        }

        .profileAdditionalDetails {
            border-top: solid 1px colors.$lightGray;
            padding-top: 6px;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            button {
                cursor: pointer;
                padding: 5px;
                border: solid 1px colors.$white;
                background-color: colors.$darkerRed;
                color: colors.$white;
                margin-top: 4px;
                border-radius: 5px;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    padding: 10px;
                    margin: 5px;
                    font-weight: bold;
                    border-radius: 2px;
                    color: colors.$black;
                    width: 130px;
                    border: solid 1px colors.$black;

                    i {
                        margin-right: 10px;
                    }
                }

                button.checked {
                    background-color: colors.$green;
                }

                button.unchecked {
                    background-color: colors.$orangeAfternoon;
                    cursor: pointer;
                }
            }

            p.createdAtText {
                border-top: solid 1px colors.$lightGray;
                margin-top: 10px;
                margin-bottom: 3px;
                padding-top: 10px;
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .appSettings {
        width: 50%;

        summary {
            border-bottom: solid 1px colors.$black;
            font-size: 18pt;
            margin-bottom: 20px;
            cursor: pointer;
        }

        div {
            border-bottom: solid 1px colors.$lightGray;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            select {
                background-color: colors.$white;
                border: solid 2px colors.$accentColor;
                padding: 10px;
                cursor: pointer;
                border-radius: 3px;

                option {
                    font-weight: 14pt;
                }
            }

            button {
                background-color: colors.$accentColor;
                color: colors.$white;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-weight: bold;
                transition: .4s;
                width: 140px;
            }

            button:hover {
                background-color: colors.$accentColorDark;
                transition: .4s;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .profileContainer {
        flex-direction: column;
        align-items: center;

        .profileDetails {
            width: 80%;
        }

        .appSettings {
            width: 80%;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 680px) {
    .profileContainer {
        width: 100%;

        .profileDetails,
        .appSettings {
            width: 95%;
        }
    }
}

@media screen and (max-width: 430px) {
    .deletePopupContainer {
        .deletePopupContent {
            .buttonsContainer {
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }
    }

    .profileContainer {
        .appSettings {
            details {
                div {
                    display: flex;
                    flex-direction: column;

                    button,
                    select {
                        margin-top: 20px;
                        width: 85%;
                    }
                }
            }
        }
    }
}
