@charset "UTF-8";
@import '../colors.scss';

.profileContainer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 40px;
    width: 90%;
    padding: 0 20px;

    .profileDetails {
        border: solid 1px $lightGray;
        padding: 20px;
        box-shadow: 4px 4px 12px $lightGray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;

        img {
            border: solid 1px $lightGray;
            width: 200px;
        }

        h3 {

            margin-top: 25px;
            text-align: left;
            width: 100%;
            border-bottom: 1px solid $lightGray;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }

        .fullNameInput {
            margin-top: 30px;
            margin-bottom: 10px;
            border: 2px solid $accentColor;
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            color: $accentColor;
            font-weight: bold;

        }

        h4 {
            width: 100%;
        }

        span {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                border: solid 2px $lightGray;
                border-radius: 4px;
                padding: 5px 10px;
                margin-left: 10px;
                width: 70%;
            }

            input.ableToEdit {
                border: solid 2px $accentColor;
                color: $accentColor;
                font-weight: bold;
            }

            button {
                background-color: $accentColor;
                // padding: 10px;
                padding: 7px 20px;
                margin-left: 10px;
                font-weight: bold;
                color: $white;
                border-radius: 5px;
                cursor: pointer;
                width: 70%;
                transition: .4s;
            }

            button:hover {
                background-color: $accentColorDarker;
            }

            .btnChangeSocialMediaProfile {
                background-color: $white;
                color: $accentColor;
                border: solid 2px $accentColor;
                transition: .4s;
            }

            .btnChangeSocialMediaProfile:hover {
                background-color: $accentColor;
                color: $white;
                transition: .4s;
            }
        }

        .btnChangeProfile {
            background-color: $white;
            color: $accentColor;
            border: solid 2px $accentColor;
            width: 100%;
            padding: 7px;
            font-weight: bold;
            font-size: 14pt;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: .4s;
        }

        .btnChangeProfile:hover {
            background-color: $accentColor;
            color: $white;
            transition: .4s;
        }

        .btnChangeProfileAction {
            background-color: $accentColor;
            color: $white;
        }
        .btnChangeProfileAction:hover {
            background-color: $accentColorDarker;
            border: 2px solid $accentColorDarker;
        }

        .btnCancel {
            background-color: $lightGray;
            color: $black;
        }

        .btnCancel {
            background-color: $gray;
            color: $black;
            border: none;
        }

        .btnCancel:hover {
            background-color: $darkGray;
            color: $white;
        }

        .profileAdditionalDetails {
            border-top: solid 1px $lightGray;
            padding-top: 6px;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            button {
                cursor: pointer;
                padding: 5px;
                border: solid 1px $white;
                background-color: $darkerRed;
                color: $white;
                margin-top: 4px;
                border-radius: 5px;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    padding: 10px;
                    margin: 5px;
                    font-weight: bold;
                    border-radius: 2px;
                    color: $black;
                    width: 130px;
                    border: solid 1px $black;

                    i {
                        margin-right: 10px;
                    }
                }

                button.checked {
                    background-color: $green;
                }

                button.unchecked {
                    background-color: $orangeAfternoon;
                    cursor: pointer;
                }
            }

            p.createdAtText {
                border-top: solid 1px $lightGray;
                margin-top: 10px;
                margin-bottom: 3px;
                padding-top: 10px;
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .appSettings {
        width: 50%;

        summary {
            border-bottom: solid 1px $black;
            font-size: 18pt;
            margin-bottom: 20px;
            cursor: pointer;
        }

        div {
            border-bottom: solid 1px $lightGray;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            select {
                background-color: $white;
                border: solid 2px $accentColor;
                padding: 10px;
                cursor: pointer;
                border-radius: 3px;

                option {
                    font-weight: 14pt;
                }
            }

            button {
                background-color: $sleepBlue;
                padding: 10px 20px;
                cursor: pointer;
                border: solid 1px $black;
                border-radius: 5px;
                font-weight: bold;
                transition: .4s;
                width: 140px;
            }

            button:hover {
                background-color: $blueNight;
                transition: .4s;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .profileContainer {
        flex-direction: column;
        align-items: center;

        .profileDetails {
            width: 80%;
        }

        .appSettings {
            width: 80%;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 680px) {
    .profileContainer {
        width: 100%;

        .profileDetails,
        .appSettings {
            width: 95%;
        }
    }
}

@media screen and (max-width: 430px) {
    .profileContainer {
        .appSettings {
            details {
                div {
                    display: flex;
                    flex-direction: column;

                    button,
                    select {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
