@charset "UTF-8";

.deletePopupContainer,
.unlinkAccountContainer {
    background-color: var(--dp-transparent-gray);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .deletePopupContent,
    .unlinkAccountContent {
        background-color: var(--dp-lightfall);
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90%;

        h2 {
            margin-bottom: 20px;
            color: var(--dp-text-color);
        }

        b {
            color: var(--dp-accent-color);
        }

        small {
            margin-top: 20px;
        }

        .buttonsContainer {
            margin-top: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 50%;
                margin: 10px;
                font-size: 14pt;
                font-weight: bold;
                cursor: pointer;
                padding: 10px;
                border-radius: 5px;
                transition: 0.4s;
            }

            button:hover {
                transition: 0.4s;
                transform: scale(1.05);
            }

            button:nth-child(1) {
                background-color: var(--dp-lightfall);
                color: var(--dp-accent-color);
                border: solid 2px var(--dp-accent-color);
            }

            button:nth-child(2) {
                background-color: var(--dp-darker-red);
                color: var(--dp-full-white);
            }
        }

        p {
            color: var(--dp-text-color);
            font-weight: 500;
        }
    }
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 40px;
    width: 90%;
    padding: 0 20px;

    .profileDetails {
        border: solid 1px var(--dp-light-gray);
        padding: 20px;
        box-shadow: 4px 4px 12px var(--dp-light-gray);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;

        img {
            border: solid 1px var(--dp-light-gray);
            width: 200px !important;
            border-radius: 5px;
        }

        h3 {
            margin-top: 25px;
            text-align: left;
            width: 100%;
            border-bottom: 1px solid var(--dp-light-gray);
            padding-bottom: 5px;
            margin-bottom: 10px;
            color: var(--dp-text-color);
        }

        .fullNameInput {
            margin-top: 30px;
            margin-bottom: 10px;
            border: 2px solid var(--dp-accent-color);
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            color: var(--dp-accent-color);
            font-weight: bold;
            background-color: transparent;
        }

        h4 {
            width: 100%;
        }

        span {
            width: 100%;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            b {
                color: var(--dp-text-color);
            }

            input {
                border: solid 2px var(--dp-light-gray);
                border-radius: 4px;
                padding: 5px 10px;
                margin-left: 10px;
                width: 70%;
                font-weight: 500;
            }

            input[data-theme="dark"] {
                background-color: transparent;
                color: var(--dp-accent-color);
                border: solid 2px var(--dp-accent-color);
            }

            input.ableToEdit {
                border: solid 2px var(--dp-accent-color);
                color: var(--dp-accent-color);
                font-weight: bold;
            }

            button {
                background-color: var(--dp-accent-color);
                padding: 7px 20px;
                margin-left: 10px;
                font-weight: bold;
                color: var(--dp-lightfall);
                border-radius: 5px;
                cursor: pointer;
                width: 70%;
                transition: 0.4s;
            }

            button:hover {
                background-color: var(--dp-accent-color-dark);
            }

            .containerBtnChangeSocialMedia {
                display: flex;
                width: 70%;
                justify-content: space-between;
                padding: 0;
                margin: 0;

                .btnChangeSocialMediaProfile {
                    background-color: var(--dp-lightfall);
                    color: var(--dp-accent-color);
                    border: solid 2px var(--dp-accent-color);
                    transition: 0.4s;
                }

                .btnChangeSocialMediaProfile:hover {
                    background-color: var(--dp-accent-color);
                    color: var(--dp-lightfall);
                    transition: 0.4s;
                }

                button {
                    margin-left: 0;
                    width: 80%;
                }

                button:nth-child(2) {
                    margin-left: 5px;
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .btnChangeProfile {
            background-color: var(--dp-lightfall);
            color: var(--dp-accent-color);
            border: solid 2px var(--dp-accent-color);
            width: 100%;
            padding: 7px;
            font-weight: bold;
            font-size: 14pt;
            border-radius: 5px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.4s;
        }

        .btnChangeProfile:hover {
            background-color: var(--dp-accent-color);
            color: var(--dp-lightfall);
            transition: 0.4s;
        }

        .btnChangeProfileAction {
            background-color: var(--dp-accent-color);
            color: var(--dp-lightfall);
        }

        .btnChangeProfileAction:hover {
            background-color: var(--dp-accent-color-dark);
            border: 2px solid var(--dp-accent-color-dark);
        }

        .btnCancel {
            background-color: var(--dp-light-gray);
            color: var(--dp-full-black);
        }

        .btnCancel {
            background-color: var(--dp-gray);
            color: var(--dp-black);
            border: none;
        }

        .btnCancel:hover {
            background-color: var(--dp-dark-gray);
            color: var(--dp-lightfall);
        }

        .btnCancel[data-theme="dark"]:hover {
            border: solid 1px var(--dp-full-white);
            color: var(--dp-full-white);
            background-color: transparent;
        }

        .profileAdditionalDetails {
            border-top: solid 1px var(--dp-light-gray);
            padding-top: 6px;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;

            button {
                cursor: pointer;
                padding: 5px;
                border: solid 1px var(--dp-lightfall);
                background-color: var(--dp-darker-red);
                color: var(--dp-full-white);
                margin-top: 4px;
                border-radius: 5px;
                font-weight: 600;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;

                b {
                    color: var(--dp-text-color);
                }

                button {
                    padding: 10px;
                    margin: 5px;
                    font-weight: bold;
                    border-radius: 5px;
                    color: var(--dp-full-black);
                    width: 130px;

                    i {
                        margin-right: 10px;
                    }
                }

                button.checked {
                    background-color: var(--dp-green);
                }

                button.unchecked {
                    background-color: var(--dp-orange-afternoon);
                    cursor: pointer;
                }
            }

            p.createdAtText {
                border-top: solid 1px var(--dp-light-gray);
                margin-top: 10px;
                margin-bottom: 3px;
                padding-top: 10px;
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--dp-text-color);
            }
        }
    }

    .profileDetails[data-theme="dark"] {
        box-shadow: 0 0 0;
        border: solid 3px var(--dp-light-gray);
    }

    .appSettings {
        width: 50%;

        summary {
            border-bottom: solid 1px var(--dp-black);
            font-size: 18pt;
            margin-bottom: 20px;
            cursor: pointer;
            color: var(--dp-text-color);
        }

        div {
            border-bottom: solid 1px var(--dp-light-gray);
            padding: 10px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                color: var(--dp-text-color);
            }

            p {
                color: var(--dp-text-color);
            }

            select {
                background-color: var(--dp-lightfall);
                border: solid 2px var(--dp-accent-color);
                padding: 10px;
                cursor: pointer;
                border-radius: 3px;
                color: var(--dp-text-color);
                font-weight: 500;

                option {
                    font-weight: 14pt;
                }
            }

            button {
                background-color: var(--dp-accent-color);
                color: var(--dp-lightfall);
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
                font-weight: bold;
                transition: 0.4s;
                width: 140px;
            }

            button:hover {
                background-color: var(--dp-accent-color-dark);
                transition: 0.4s;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .profileContainer {
        flex-direction: column;
        align-items: center;

        .profileDetails {
            width: 80%;
        }

        .appSettings {
            width: 80%;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 680px) {
    .profileContainer {
        width: 100%;

        .profileDetails,
        .appSettings {
            width: 95%;
        }
    }
}

@media screen and (max-width: 430px) {
    .deletePopupContainer,
    .unlinkAccountContainer {
        .deletePopupContent,
        .unlinkAccountContent {
            .buttonsContainer {
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }
    }

    .profileContainer {
        .profileDetails {
            span {
                flex-direction: column;
                width: 100%;
                align-items: start;

                b {
                    margin-bottom: 10px;
                }

                .containerBtnChangeSocialMedia,
                button,
                input {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        .appSettings {
            details {
                div {
                    display: flex;
                    flex-direction: column;

                    button,
                    select {
                        margin-top: 20px;
                        width: 85%;
                    }
                }
            }
        }
    }
}
