@charset "UTF-8";

.deletePlanningContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h1 {
        font-size: 21pt;
        color: var(--dp-text-color);
        margin-top: 30px;
        text-align: center;
    }

    p {
        color: var(--dp-text-color);
        font-weight: 500;
        text-align: center;
    }

    small {
        margin-top: 15px;
        font-weight: bold;
        color: var(--dp-text-color);

        i {
            margin-right: 5px;
        }
    }

    span {
        display: flex;
        border-top: solid 1px var(--dp-light-gray);
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

        button {
            width: 240px;
            padding: 10px;
            font-size: 16pt;
            margin: 10px;
            border: solid 2px var(--dp-accent-color);
            border-radius: 5px;
            background-color: var(--dp-lightfall);
            color: var(--dp-accent-color);
            font-weight: bold;
            transition: 0.4s;
            cursor: pointer;
        }

        button:nth-child(2) {
            background-color: var(--dp-darker-red);
            color: var(--dp-full-white);
            border: var(--dp-dark-gray);
        }

        button:hover {
            transition: 0.4s;
            transform: scale(1.04);
        }
    }
}

@media screen and (max-width: 680px) {
    .deletePlanningContainer {
        span {
            flex-direction: column;
        }
    }
}
