@charset "UTF-8";
@import '../../styles/colors.scss';

@keyframes menuHamburgerSpawn {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.navbarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $accentColor;
    flex-direction: row;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 8px $shadowLowPink;
    padding: 20px;
    z-index: 2;

    .logoContainer {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 55px;
            margin-right: 10px;
        }

        figcaption {
            font-size: 28pt;
            font-weight: bold;
            color: $white;
        }
    }

    .navbarControls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;

        * {
            margin: 0 10px;
        }

        .planInfo {
            background-color: $white;
            padding: 15px 15px;
            font-size: 14pt;
            font-weight: 500;
            color: $accentColor;
            border-radius: 5px;
            cursor: pointer;
        }

        .btnNavbar {
            background-color: $white;
            color: $accentColor;
            font-size: 21pt;
            padding: 15px 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 600px;
        }

        .mobileIcon {
            display: none;
        }
    }
}

.navbarControlsMobile {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #00000076;
    overflow-x: hidden;

    .blur {
        width: 50%;
    }

    .hamburgerMenu {
        background-color: $accentColor;
        width: 50%;
        padding: 20px;
        list-style: none;
        animation: menuHamburgerSpawn 0.5s normal;

        li:nth-child(1) {
            display: flex;
            align-items: center;
            flex-direction: column;
            border-bottom: 2px solid $lowPinkBG;
            padding-bottom: 20px;

            h4 {
                font-size: 20pt;
                color: $white;
            }
        }

        .planInfo {
            background-color: $white;
            padding: 15px 15px;
            font-size: 14pt;
            font-weight: 500;
            color: $accentColor;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            text-align: center;
        }

        .btnNavbar {
            margin-top: 15px;
            cursor: pointer;
            font-size: 18pt;
            display: flex;
            align-items: center;
            color: $white;

            .pi {
                margin-right: 4px;
            }
        }
    }
}

@media screen and (max-width: 585px) {
    .navbarContainer {
        .logoContainer {
            figcaption {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .navbarContainer {
        .navbarControls {
            .deskIcon {
                display: none;
            }

            .mobileIcon {
                display: flex;
                font-size: 24pt;
                cursor: pointer;
                color: $white;
            }
        }
    }
}
