@charset "UTF-8";
@use '../../styles/colors.scss' as colors;


.navbarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: colors.$white;
    flex-direction: row;
    position: sticky;
    top: 0;
    border-bottom: 1px solid colors.$lightGray;
    border-radius: 5px;
    padding: 15px 20px;
    z-index: 5;

    .logoContainer {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 35px;
            margin-right: 10px;
        }

        figcaption {
            font-size: 16pt;
            font-weight: bold;
            color: colors.$accentColor;
        }
    }

    .navbarControls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        list-style-type: none;

        * {
            margin: 0 10px;
        }

        .btnNavbar {
            font-weight: 500;
            color: colors.$textColor;
            cursor: pointer;
            transition: .4s;
        }

        .btnNavbar:hover {
            color: colors.$accentColor;
            transition: .4s;
        }

        .choosed {
            color: colors.$accentColor;
            font-weight: bold;
        }

        .mobileIcon {
            display: none;
        }
    }
}

@media screen and (max-width: 779px) {
    .navbarContainer {
        .logoContainer {
            figcaption {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 619px) {
    .navbarContainer {
        .navbarControls {
            .btnNavbar {
                display: none;
            }

            .mobileIcon {
                display: flex;
                font-size: 24pt;
                cursor: pointer;
                color: colors.$accentColor;
            }
        }
    }
}
