@charset "UTF-8";

.videoTutorialContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: var(--dp-transparent-gray);

    .videoTutorialContent {
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        background-color: var(--dp-lightfall);

        nav {
            width: 100%;
            color: var(--dp-text-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: solid 2px var(--dp-text-color);
            margin-bottom: 40px;

            .iconClose {
                cursor: pointer;
                font-size: 24pt;
            }
        }

        iframe {
            width: 100%;
            height: 550px;
            border: solid 2px var(--dp-text-color);
            border-radius: 5px;
        }

        button {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            color: var(--dp-text-color);
            background-color: var(--dp-accent-color);
            font-weight: bold;
            font-size: 18pt;
            margin-top: 40px;
        }

        button:hover {
            transform: scale(1.01);
            transition: 0.4s;
        }
    }
}
